h1 {
  font-size: 54px;
  font-family: monospace;
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
  color: white;
  border: 12px solid lime;
  padding: 6px;
  box-sizing: border-box;
  border-style: groove;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: white;
}

p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 18px;;
}

.options ul {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  list-style-position: inside;
  background-image: url(https://media1.tenor.com/images/506efe06ecf4472b28462478877b2dd6/tenor.gif?itemid=8491515);
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
  margin: 0;
  border: 6px solid lime;
  padding:8px;
  border-style: dashed;
}

#code-lang {
  text-align: center;
  color: white;
  font-size: 18px;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 18px;;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  border-radius: 50%;
  border: 4px solid lime;
  transition-duration: 0.5s;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  transition-duration: 1s;
}

#python {
  display: none;
  color:white;
}

#ruby {
  display: none;
  color:white;
}

#javascript {
  display: none;
  color:white;
}

#go {
  display: none;
  color:white;
}
